.products-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;

}

.order {
  display: none;
}

nav{

background: linear-gradient(90deg, rgb(60, 60, 60) 31%, rgb(88, 88, 88));
}

.logo{
  border-radius: 10px;
}

.nav-link{
  color: white;
  font-size: 25px;
  background-color: rgb(97, 97, 97);
  border-radius: 9px;
  margin-right: 15px;
}

.btn-primary,.cart-btn{
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-weight: 600;
  color: rgb(255, 255, 255);
background: linear-gradient(90deg, rgb(60, 60, 60) 31%, rgb(88, 88, 88));
}

.btn-primary:active{
transform: scale(1.4);
transition: 0.5s;
}

body{
  background-color: rgb(129, 129, 129);
}

